################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/F1_Web_App_Tests/bin/Debug/net8.0
/F1_Web_App_Tests/obj
